{% extends 'base.html' %}

{% block body %}
<h1>{{ user.username }}님의 프로필</h1>
<table class="table text-center align-middle">
    <thead>
        <th>ID</th>
        <th>username</th>
        <th>e-mail</th>
        <th>성</th>
        <th>이름</th>
        <th>생성 날짜</th>
        <th>최근 로그인</th>
        <th>회원 정보 수정</th>
    </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{ user.username }}</td>
            <td>{{user.email}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.date_joined}}</td>
            <td>{{user.last_login}}</td>
            <td><a href="{% url 'accounts:update' %}">수정</a></td>
        </tr>
    </tbody>
</table>
<h1>{{ user.username }}님의 프로필</h1>
<p>{{ user.email }} | {{ user.full_name }}</p>
<h3>작성한 글</h3>
<p class="text-muted">{{ user.article_set.count }}개를 작성하였습니다.</p>
{% for article in user.article_set.all %}
<p>
    {{ forloop.counter }}
    <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
</p>
{% endfor %}
{% endblock body %}