{% extends 'base.html' %}

{% block body %}

<div class="container-fluid shadow-lg p-5 mt-5 mb-5 bg-body rounded-5" style="min-width: 770px">
    <div class="top d-flex justify-content-between mb-3">
        <h1 class="">{{ movie.title }}</h1>
    </div>
    <div class="row text-end">
        <p>러닝타임: {{ movie.runnugtime }} </p>
    </div>
    <div class="jumbotron">
        <p class="mt-5 border border-3 p-3">{{ movie.summary | linebreaksbr }} </p>
    </div>
    <div class="detail-btn text-end">
        <a href="{% url 'reviews:update' movie.pk %}" class="btn btn-outline-success">수정</a>
        <a href="{% url 'reviews:delete' movie.pk %}" class="btn btn-outline-danger">삭제</a>
    </div>
</div>
{% endblock %}