<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> 첫화면</h1>
    <div>
        현재 생성된 링크들
        <ul>
            <li>
                <a href="todaybeer"> today-beer</a>
            </li>
            <li>
                <a href="lotto"> lotto</a>
            </li>
            <li>
                <a href="is-even-odd"> is-even-odd</a>
            </li>
            <li>
                <a href="calc"> calc</a>
            </li>
            <li>
                <a href="krlipsum"> krlipsum</a>
            </li>
            <li>
                <a href="pastlife"> pastlife</a>
            </li>
            <li>
                <a href="geustbook"> guestbook</a>
            </li>
            <li>
                <a href="create"> create</a>
            </li>
        </ul>

    </div>
</body>

</html>