<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>각각 한개의 숫자를 입력해주세요</h1>
    <form action="/krlipsum_output">
        <p>문단의 수</p>
        <input type="text" name="num1">
        <p>문단별 단어의 수</p>
        <input type="text" name="num2">
        <input type="submit">
    </form>



</body>

</html>