{% extends 'base.html' %}

{% block body %}
<div class="top d-flex justify-content-between mb-3">
    <h1 class="">{{ movie.title }}</h1>
</div>
<div>
    <p class="text-muted">{{ movie.runnugtime }}분</p>
</div>
<div class="text">
    <p class="text-muted mt-5 border border-3 p-3">{{ movie.summary }}</p>
</div>
<div class="detail-btn text-end">
    <a href="{% url 'reviews:update' movie.pk %}" class="btn btn-outline-success">수정</a>
    <a href="{% url 'reviews:delete' movie.pk %}" class="btn btn-outline-danger">삭제</a>
</div>
{% endblock body %}