{% block content %}
<div class="container">
    <div class>해야할 일</div>
    <form action="{% url 'todos:create' %}">
        <input type="text" name="content_" maxlength="80">
        <select name="priority_" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="date" name="deadline_">
        <input type="submit" value="할일추가">
    </form>

    <table style="display:flex;">
        <thead>
            <th>ID</th>
            <th>우선 순위</th>
            <th>할 일 내용</th>
            <th>생성 날짜</th>
            <th>마감 기한</th>
            <th>진행 상태</th>
            <th>상태 변경</th>
            <th>삭제</th>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{todo.id}}</td>
                <td>{{todo.priority}}</td>
                <td>{{todo.content}}</td>
                <td>{{todo.created_at}}</td>
                <td>{{todo.deadline}}</td>
                <td>{{todo.completed}}</td>
                <td>
                    <a href="{% url 'todos:update' todo.pk %}">완료</a>
                </td>
                <td>
                    <a href="{% url 'todos:delete' todo.pk %}">삭제</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}